<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Flask server{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Contenedor de la página -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    <!-- Footer común para todas las páginas -->
    <footer>
        <a href="/">Indice</a>|
        <a href="about">About</a>|
        <a href="dataFrame">dataFrame</a>|
        <a href="data">data API</a>
        <p>&copy; 2025 monLou. Todos los derechos reservados.</p>
    </footer>    
</body>
</html>
